*{
  margin: 0;
  padding:0;
}

li{
  list-style-type: none;
}

body {
 background-color: rgb(237, 237, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pretendard';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'crayon';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/Typo_Crayon.ttf');
}

* { font-family: 'Pretendard';}